@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.col-12 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.container-fluid {
    &.background {
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .info {
        font-size: 22px;
    }

    h3 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    p {
        font-family: 'GangwonEduPowerExtraBoldA';
    }
}

.video {
    background-color: rgb(248, 244, 239);

    h3 {
        padding-bottom: 3rem;
    }
}

.developer {
    background-color: #e0f1cc;

    h4 {
        font-family: 'Cute Font', cursive;
        font-size: 32px;
        // padding-top: 2rem;
        padding-bottom: 1rem;
    }

    h5 {
        font-family: 'Cute Font', cursive;
        font-size: 32px;
        padding-bottom: 1rem;
    }
}

.download {
    background-color: #d3d3d1;

    h3 {
        padding-bottom: 3rem;
    }
}